{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<title>Voiz Fonica | Home</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'voizadmin/css/reset.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'voizadmin/css/layout.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'voizadmin/css/style.css' %}" type="text/css" media="all">
<script type="text/javascript" src="{% static 'voizadmin/js/jquery-1.4.2.js' %}" ></script>
<script type="text/javascript" src="{% static 'voizadmin/js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'voizadmin/js/cufon-replace.js' %}"></script>
<script type="text/javascript" src="{% static 'voizadmin/js/Avenir_900.font.js' %}"></script>
<script type="text/javascript" src="{% static 'voizadmin/js/Avenir_300.font.js' %}"></script>
<script type="text/javascript" src="{% static 'voizadmin/js/Avenir_500.font.js' %}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="main">
  <div class="body1"></div>
  <header>
    <div class="wrapper">
      <h1><a href="http://127.0.0.1:8000/admin" id="logo">VoizFonica</a></h1>
      <nav>
        <ul id="menu">
          <li id="menu_active"><a href="http://127.0.0.1:8000/">Home</a></li>
          <li><a href="http://127.0.0.1:8000/about/">About</a></li>
          <li><a href="http://127.0.0.1:8000/service/">Services</a></li>
          <li><a href="http://127.0.0.1:8000/signup/">Signup</a></li>
          <li><a href="http://127.0.0.1:8000/login">Login</a></li>
          <li><a href="http://127.0.0.1:8000/contact/">Contact us</a></li>
          
        </ul>
      </nav>
    </div>


    <div id="banner">
      <div class="text">
        <h1>Communicating, Surfing, Sharing <span>Fast and Efficient </span></h1>
        <a href="#" class="button">Read More</a> </div>
    </div>
  </header>

  <section id="content">
    <div class="box1">
      <div class="wrapper">
        <h2>Services</h2>
        <ul class="list1 cols  pad_left2">
          <li><a href="http://127.0.0.1:8000/connectionpage/">New SIM Prepaid </a></li>
          <li><a href="http://127.0.0.1:8000/connectionpage/">New SIM Postpaid</a></li>
          <li class="bg_none"><a href="http://127.0.0.1:8000/connectionpage/">Get Dongle </a></li>
        </ul>
        &nbsp;
        &nbsp;
        &nbsp;
        <ul class="list1 cols  pad_left2">
          <li><a href="#">Port to Voizfonica </a></li>
          <li><a href="#">International Call</a></li>
          <li class="bg_none"><a href="#">VoizFonica Support </a></li>
        </ul>
      </div>
    </div>
    <div class="wrapper">
      <article class="col1 pad_left1">
        <h2>New Offers</h2>
        <p><span class="color1">26.09.2021</span> <br>
          <a href="#" class="link1">Unlimited offer on 499/- for 30Days Unlimited call local/STD + 4G data + Unlimited messages.</a></p>
        <p><span class="color1">09.11.2021</span><br>
          <a href="#" class="link1">Unlimited offer on 599/- for 50Days Unlimited call local/STD + 4G data + Unlimited messages.</a></p>
        <p><span class="color1">02.11.2021</span><br>
          <a href="#" class="link1">Unlimited offer on 999/- for 100Days Unlimited call local/STD + 4G data + Unlimited messages.</a></p>
        <p><a href="#">News Archive</a></p>
      </article>
      <article class="col2 pad_left1">
        <h2>Welcome to VoizFonica Telecom! <span>VoizFonica is a Mobile Network Operator and telephone company.</span></h2>
        <p class="pad_bot2"> VoizFonica provides network access and
          telecommunication services that help people and companies communicate in an easy, efficient and
          environmentally friendly way. <br> VoizFonica business is very technology dependent as company acts as a network service provider (NSP) in
          mobile.
           </p>
        <div class="line1 wrapper">
          <article class="cols">
            <figure><img src="{% static 'voizadmin/images/page1_img1.jpg' %}" alt="" class="pad_bot1"></figure>
            2022 technology in VoizFonica.  </article>
          <article class="cols right">
            <figure><img src="{% static 'voizadmin/images/page1_img2.jpg' %}" alt="" class="pad_bot1"></figure>
            Everythings will automated. </article>
        </div>
      </article>
    </div>
  </section>
  <footer>
    <div class="footerlink">
      <p class="lf">Copyright &copy; 2021 <a href="#">VoizFonica</a> - All Rights Reserved</p>
      <p class="rf">Design by <a href="http://www.templatemonster.com/">ProdaptTeamB</a></p>
      <div style="clear:both;"></div>
    </div>
  </footer>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>